*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    outline: none;
    
}

.header{
    background: #141414;
    display: flex;
    margin: 0 auto;
    position: sticky;
    z-index: 1;
}

.header a{
    float: left;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
   
}



.dropdown{
    float: left;
    overflow: hidden;
  
}

.dropdown .dropbtn{
    font-size: 20px;
    border: none;
    outline: none;
    margin: 0;
    color: #fff;
    padding: 14px 8px;
    margin: 0;
    background-color: inherit;
}

.globe{
    font-size: 24px;
    margin-top: 14px;
    margin-left: 1000px;
    padding: 0px 24px;
}

.img{
    width: 130px;
    height: 60px;
    background-color: transparent;
}

.in{
    /* margin-top: 15px; */
    padding: 14px 16px; 
}
 .btn{
    font-size: 20px;
    border: none;
    outline: none;
    margin: 0;
    color: #fff;
    padding: 14px 8px;
    margin: 0;
    background-color: inherit;
}


/* section */
.section{
    display: flex;
    flex-direction: column;
    background-image: url(images/mainn.jpg);
    height:100vh;
    align-items: flex-start;
}

.section h1{
    margin-top: 40px;
    color: #fff;
    font-size: 34px;
    margin-left: 40px;
}

.section p{
    color: #fff;
    font-size: 18px;
    margin-top: 50px;
    margin-left: 40px;
}

.gtn{
    font-size: 16px;
    padding: 14px 30px;
    color: #fff;
    cursor: pointer;
    outline: none;
    background-color: blue;
    margin-top: 25px;
    margin-left: 45px;
    border: none;
}


.ypn{
    font-size: 16px;
    padding: 14px 40px;
    cursor: pointer;
    outline: none;
    background-color: blue;
    color: #fff;
    margin-left: 45px;
    margin-top: 40px;
    border: none;
}

.h h2{
    color: #fff;
    margin-top: 30px;
    font-size: 12px;
    margin-left: 40px;
}

/* section 2 */
.entertain{
    background-image: url(images/mainimg.jpg);
    height: 70vh;
    justify-content: right;
    
}

.greet{
    margin-left: 800px;
}

.greet h1{
    color: #fff;
    padding-top: 90px;
    font-size: 40px;
    margin-left: 5px;
}

.greet h3{
    color: #fff;
    margin-top: 20px;
    font-size: 20px;
}

.click{
    cursor: pointer;
    outline: none;
    background-color: blue;
    color: #fff;
    font-size: 16px;
    padding: 14px 32px;
    margin-top: 40px;
    border: none;
}

/* section 3 */
.anywhere{
    display: flex;
       }

.watch{
    text-align: center;
    justify-content: space-between;
    align-items: center;
    flex-basis: 31%;
    margin-top: 25px;
    margin-left: 20px;
}


.watch h1{
    padding: 0;
    font-size: 40px;
    color: #141414;
} 

.watch h2{
    margin-top: 16px;
    margin-bottom: 15px;
    color: #141414;
    padding: 2px;
    font-size: 16px;
}

    
/* section 4 */
.second-last{
    background-color: black; 
    justify-content: space-around;
    overflow: hidden;
    display: grid;
    height: 50vh;
    column-gap: 10px;
     }

   
.htl h1{
    color: #fff;
    margin-left: 50px;
    margin-top: -600px;
    column-gap: 10px;
    font-size: 50px;
    font-weight: 150;
     }


.htl p{
    color: #fff;
    margin-left: 50px;
    margin-top: 20px;
    font-size: 25px;
}
.cool{
    height: auto;
    width: 100%;
    margin-left: 550px;
    outline: none;
}

.lick{
    cursor: pointer;
    outline: none;
    background-color: blue;
    color: #fff;
    font-size: 16px;
    padding: 14px 32px;
    border: none;
    margin-left: 50px;
    margin-top: 40px;
}
    

/* footer */
.footer{
    background-color: rgba(22,31,53,0.97);
    align-items: center;
    justify-content: center;
    height: 20vh;
}

.foot{
    align-items: center;
    justify-content: center;
}

.last{
    text-decoration: none;
    color: #fff;
    overflow: hidden;
    align-content: center;
    background-color: transparent;
    width: 100px;
    justify-content: center;
    align-items: center;
    margin-left: 600px;
    margin-top: 20px;
}

.ter{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 4px 30px;
    
}

span{
    padding: 4px 15px;
}

p6{
    text-align: center;
    justify-content: center;
    margin-left: 500px;
    /* padding-top: 20px; */
    
   }


   /* Mobile responsiveness */
@media (max-width:760px) {
    .section {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        height: 120vh;
        text-align: center;
        margin-bottom: 0rem;
    }

    .section h1{
        font-size: 2.5rem;
        margin-top: 2rem;
    }

    .section p{
        margin-top: 1rem;
        font-size: 1.5rem;
    }
}

@media (max-width:480px) {
    .section h1{
        font-size: 2rem;
        margin-top: 3rem;
    }

    .section p{
        margin-top: 2rem;
        font-size: 1.5rem;
    }

    .btn2{
        padding: 14px 30px;
        margin: 2.5rem 0;
    } 
}